
Biblioteca/.vs/Biblioteca/v16/.suo
Biblioteca/Biblioteca.AccesoADatos/obj/Debug/Biblioteca.AccesoADatos.csproj.AssemblyReference.cache
Biblioteca/Biblioteca.InterfazForm/obj/Debug/Biblioteca.InterfazForm.csproj.AssemblyReference.cache
Biblioteca/Biblioteca.InterfazForm/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Biblioteca/Biblioteca.Negocio/obj/Debug/Biblioteca.Negocio.csproj.AssemblyReference.cache
